@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}


/**************/


/* 0. Variáveis
/* 1. Gerais
/* 2. Container
/* 3. Card Component Body - Main
/* 4. Card Component Body - Article
/* 5. Card Component Body - Footer
/* 6. Card Component Aside

/**************/


/* 0. Variáveis
/**************/

:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --text: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);
    --font-title: 1.7rem;
    --font-text: .85rem;
    --font-inter: 'Inter', sans-serif;
    --font-lexend: 'Lexend Deca', sans-serif;
}


/**************/


/* 1. Gerais
/**************/

body {
    background-color: var(--main-background);
}

html {
    font-size: 15px;
}


/**************/


/* 2. Container
/**************/

.preview-card__container {
    background-color: var(--card-background);
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    width: 60%;
    border-radius: 8px;
    margin: 20vh auto;
}

.preview-card__footer {
    display: flex;
    justify-content: space-between;
    line-height: .4cm;
    color: var(--text);
    margin-top: 2rem;
    padding-right: 50px;
}

@media screen and (max-width: 900px) {
    .preview-card__container {
        width: 70%;
        margin: 10vh auto;
    }
    .preview-card__footer {
        text-align: center;
        flex-direction: column;
        padding-right: 0;
        font-size: var(--font-title);
    }
}


/**************/


/* 3. Card Component Body - Main
/**************/

.preview-card__main {
    padding: 20px 65px 20px 50px;
    flex-basis: 50%;
    font-family: var(--font-inter);
}

@media screen and (max-width: 900px) {
    .preview-card__main {
        padding: 10px 30px;
        flex-basis: 100%;
    }
}


/**************/


/* 4. Card Component Body - Article
/**************/

.preview-card__article {
    color: var(--text);
    font-size: var(--font-text);
}

.preview-card__main-title {
    font-weight: 700;
    font-size: var(--font-title);
}

.preview-card__main-title>span {
    color: var(--accent);
}

.preview-card__main-paragraph {
    font-weight: 400;
    line-height: .6cm;
    color: var(--main-paragraph);
}

@media screen and (max-width: 900px) {
    .preview-card__article {
        text-align: center;
    }
    .preview-card__main-title {
        font-size: 1.4rem;
    }
    .preview-card__main-paragraph {
        font-size: .80rem;
    }
}


/**************/


/* 5. Card Component Body - Footer
/**************/

.preview-card__footer .preview-card__stat>span {
    font-family: var(--font-lexend);
    font-size: .60rem;
    font-weight: 400;
    color: var(--stat-heading);
}


/**************/


/* 6. Card Component Aside
/**************/

.preview-card__aside-cover {
    flex-basis: 50%;
    background-color: var(--accent);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.preview-card__aside-cover img {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    filter: opacity(.7);
}

@media screen and (max-width: 900px) {
    .preview-card__aside-cover {
        flex-basis: 100%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 8px;
    }
    .preview-card__aside-cover img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}


/**************/
